.Window {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: left;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.Window b {
    margin-right: 20px;
}

.Err {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(231, 167, 167);
    color: rgb(117, 63, 63);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 30px;
}

.Sccss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(166, 211, 166);
    color: rgb(74, 105, 53);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 30px;
}

.closeErr, .closeSccss {
    font-weight: bold;
    font-size: 20px;
}

.closeErr {
    color: rgb(117, 63, 63);
}

.closeSccss {
    color: rgb(74, 105, 53);
}