$app-background-color: #f2f2f2;
$app-white-color: #fff;
$app-black-color: #000;
$app-blue-color: #1e2d43;
$app-hover-color: #f8f8f8;
$app-red-color: rgb(231, 65, 65);
$app-grey-color: grey;
$app-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
$app-radius: 10px;


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $app-background-color;

    .content {
        text-align: center;
    }

    .authorized {
        padding-top: 130px;
    }

    .no-authorized {
        padding-top: 80px;
    }

    .dropdown {
        .dropdown__btn {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            font-weight: bold;
            border: none;
            box-shadow: none;
            outline: none;
            padding: 0;
        }

        .dropdown__btn::after {
            content: none;
        }
        
        .actions {
            background-color: $app-white-color;
            width: 170px;
            border: none;
            border-radius: $app-radius;
            margin-top: 10px;
            padding: 0 7px;
            -webkit-box-shadow: $app-shadow;
            box-shadow: $app-shadow;
            -webkit-animation: show-dropdown .25s forwards;
        
            .action__item {
                width: 100%;
                border-radius: $app-radius;
                padding: 7px 10px;
                margin: 7px 0;
                display: flex;
                align-items: center;
            }
            
            .action__item:hover {
                background-color: $app-hover-color;
            }
            
            .action__item:active {
                background-color: $app-background-color;
                color: $app-black-color;
            }
            
            .action__item-icon {
                font-size: 20px;
                font-weight: bold;
                margin-right: 7px;
            }
        }
    }

    p.empty {
        font-size: 20px;
        font-weight: bold;
        color: $app-grey-color;
        margin-top: 100px;
    }
}

@keyframes show-dropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}