body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2
}

.content {
    padding-top: 10px;
    text-align: center;
}

.dropdown .dropdown__btn {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
}

.dropdown .dropdown__btn::after {
    content: none;
}

.dropdown .actions {
    width: 170px;
    border: none;
    margin-top: 10px;
    padding: 0 7px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
}

.dropdown .action__item {
    width: 100%;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 7px 0;
    display: flex;
    align-items: center;
}

.dropdown .action__item:hover {
    background-color: #f2f2f2;
}

.dropdown .action__item:active {
    background-color: #e7e7e7;
    color: #000;
}

.dropdown .action__item-icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 7px;
}