.auth {
    padding: 0px 5px;
    margin-top: 10px;
    text-align: center;
}

.auth Input {
    margin-top: 10px;
}

.auth Button {
    margin-top: 20px;
    width: 100%;
}

.auth p {
    margin-top: 7px;
    text-align: left;
}

.auth p span {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}