@import "App.scss";

.header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    background-color: $app-white-color;
    height: 60px;
    position: fixed;
    z-index: 3;

    .container {
        .header__left {
            .logo {
                text-decoration: none;
                font-size: 22px;
                color: $app-black-color;
            }
        }

        .header__right {
            .search, .notifications {
                font-size: 28px;
                cursor: pointer;
            }

            .search {
                margin-right: 20px;
            }

            .search:hover, .notifications:hover {
                opacity: 0.8;
            }

            .notifications__panel {
                background-color: $app-white-color;
                position: absolute;
                top: 65px;
                right: 100px;
                width: 300px;
                -webkit-box-shadow: $app-shadow;
                box-shadow: $app-shadow;
                border: none;
                border-radius: $app-radius;
                padding: 10px 15px;
                display: none;

                p.title {
                    font-size: 17px;
                }

                .line {
                    margin-top: -8px;
                }
            }

            .notifications__panel.show {
                display: block;
            }

            .profile__icon {
                margin-left: 20px;
                background-color: $app-blue-color;
                border-radius: 100px;
                cursor: pointer;
                color: $app-white-color;
                font-weight: bold;
                font-size: 20px;
                display: flex;
                align-items: center;
                padding: 12px;
            }

            .dropdown {
                .dropdown__btn {
                    background-color: $app-white-color;
                    box-shadow: none;
                }

                .dropdown__btn:hover {
                    opacity: 0.9;
                }

                .logout {
                    color: $app-red-color;
                }
            }
        }
    }
}