.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    position: relative;
}

.menu-bars {
    margin-right: 20px;
    font-size: 22px;
    text-decoration: none;
    color: #000;
    display: flex;
}

.menu-bars:hover {
    color: #000;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left .logo__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left .logo__link .logo {
    background-color: #1e2d43;
    padding: 7px 8px;
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.header__left .logo__link .name {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-top: -2px;
}

.header__middle {
    left: 20;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.header__middle Input {
    width: 350px;
}

.header__middle #dropdown-basic {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #1e2d43;
    padding: 7px 15px;
    font-weight: bold;
    box-shadow: none;
}

.header__middle .create__icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 2px;
}

.header__middle .create__action {
    width: 180px;
    border: none;
    -webkit-box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
}

.create__action .create__action-item {
    width: 165px;
    margin: 0 7px 7px 7px;
    border-radius: 5px;
    padding: 5px 8px;
}

.create__action .create__action-item:hover {
    background-color: #f2f2f2;
}

.create__action .create__action-item:active {
    background-color: #e7e7e7;
    color: #000;
}

.create__action .create__action-item .create__action-item__icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right Button {
    margin-left: 10px;
}

.header__right .notifications {
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

.header__right .notifications:hover {
    opacity: 0.8;
}

.header__right .notifications__panel {
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 100px;
    width: 400px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    z-index: 2;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: none;
}

.notifications__panel.show {
    display: block;
}

.notifications__panel p.title {
    font-size: 17px;
}

.notifications__panel .line {
    margin-top: -8px;
}

.header__right .profile__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2d43;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px 14px;
}

.header__right .profile__link:hover {
    opacity: 0.9;
}

.header__right .arrow-down {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.header__right .arrow-down:hover {
    opacity: 0.6;
}