.header {
    padding: 10px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.header__left .logo__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__left .logo__link .logo {
    background-color: #1e2d43;
    padding: 7px 8px;
    margin-right: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.header__left .logo__link .name {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: right  ;
}

.header__right Button {
    margin-left: 10px;
}

.header__right .search {
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

.header__right .notifications {
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

.header__right .notifications:hover {
    opacity: 0.8;
}

.header__right .notifications__panel {
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 100px;
    width: 300px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    box-shadow: 0 3px 5px 0 rgba(116,116,116,.25);
    z-index: 2;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: none;
}

.notifications__panel.show {
    display: block;
}

.notifications__panel p.title {
    font-size: 17px;
}

.notifications__panel .line {
    margin-top: -8px;
}

.header__right .profile__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2d43;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px 14px;
}

.header__right .profile__link:hover {
    opacity: 0.9;
}

.header__right .dropdown .dropdown__btn {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    font-weight: bold;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 5px;
}

.header__right .dropdown .logout {
    color: rgb(231, 65, 65);
}