.profile {
    padding: 0 40px;
    max-width: 1000px;
}

.profile__card {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.information {
    display: flex;
    justify-content: space-between;
}

.information_img {
    background-color: #dedede;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
}

.information p {
    margin: 0;
}

.information .name {
    font-size: 22px;
    font-weight: bold;
}

.information .login {
    font-size: 15px;
    color: grey;
}

.information .description {
    font-size: 15px;
    max-width: 400px;
}

.action .icon {
    margin-right: 8px;
}

.profile__content {
    display: flex;
    justify-content: space-between;
}

.profile__content .follows {
    background-color: #f2f2f2;
    border-radius: 10px;
}


@media (max-width: 992px) {
    .profile {
        margin-top: -30px;
        padding: 0 20px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 23%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 576px) {
    .profile {
        padding: 0 10px;
    }
}