.settings {
    text-align: left;
    margin: 0 auto;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
}

.settings .settings__item {
    margin-bottom: 10px;
    width: 300px;
}

.settings p.title {
    font-weight: bold;
    font-size: 20px;
}

.settings p.name {
    color: grey;
    margin: 0;
}

.settings Input, .settings Textarea {
    margin-top: 5px;
    width: 100%;
}

.settings Textarea {
    min-height: 40px;
    max-height: 200px;
}