.sidebar {
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar__list-item {
    margin-top: 5px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 17px;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.sidebar__list-item.active {
    background-color: #f2f2f2;
    cursor: pointer;
}

.sidebar__list-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.sidebar__list-item__icon {
    margin-right: 7px;
    font-size: 19px;
}