@import "App.scss";

.projects {
    margin: 0 auto;
    max-width: 700px;

    .project {
        background-color: $app-white-color;
        border-radius: $app-radius;
        padding: 15px;
        -webkit-box-shadow: $app-shadow;
        box-shadow: $app-shadow;
        text-align: left;
        margin-bottom: 20px;

        .project__header {
            .from__data, .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .from__data {
                .person {
                    display: flex;
                    align-items: center;

                    .photo {
                        width: 30px;
                        height: 30px;
                        background-color: $app-background-color;
                        border-radius: $app-radius;
                        margin-right: 10px;
                    }
                }

                .time {
                    color: $app-grey-color;
                    font-size: 15px;
                }
            }

            .heading {
                padding-top: 10px;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .project__body {
            margin-top: -10px;

            .description {
                font-size: 17px;
            }
        }

        .project__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .feedback {
                width: 220px;
                display: flex;
                align-items: center;

                .feedback__item {
                    margin-right: 20px;
                }

                .project__footer-icon {
                    font-size: 22px;
                    font-weight: bold;
                    margin-right: 5px;
                    margin-top: -2px;
                }
            }
        }
    }
}