.BtnFill {
    padding: 7px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #1e2d43;
    border: 1.5px solid #1e2d43;
    border-radius: 10px;
    cursor: pointer;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.BtnFill:hover {
    color: #000;
    background-color: initial;
}

.BtnOutline {
    padding: 7px 20px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: 1.5px solid #1e2d43;
    border-radius: 10px;
    cursor: pointer;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.BtnOutline:hover {
    color: #fff;
    background-color: #1e2d43;
}