@import "../../../styles/App.scss";

.BtnFill {
    padding: 7px 20px;
    color: $app-white-color;
    font-size: 15px;
    font-weight: bold;
    background-color: $app-blue-color;
    border: 1.5px solid $app-blue-color;
    border-radius: $app-radius;
    cursor: pointer;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.BtnFill:hover {
    color: $app-black-color;
    background-color: initial;
}

.BtnOutline {
    padding: 7px 20px;
    color: $app-black-color;
    font-size: 15px;
    font-weight: bold;
    background-color: $app-white-color;
    border: 1.5px solid $app-blue-color;
    border-radius: $app-radius;
    cursor: pointer;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.BtnOutline:hover {
    color: $app-white-color;
    background-color: $app-blue-color;
}