.Inpt {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    outline: none;
    height: 45px;
}

.Inpt:hover, .Inpt:focus {
    background-color: #ececec;
    border: 1px solid #dedede;
}